h1{
	color: pink;
}
.kinnyeteri{
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 20px;
}
.kinnyeteri:hover{
	background:pink;
	padding: 10px 
}
.box{
	background: skyblue;
	width: 500px;
	height: 350px;
	border-radius: 10px

}
.php{
	margin-top: 20px
}